header {
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
  padding: 0 1em 0 1em;

  nav {
    ul {
      display: flex;
      justify-content: space-around;
      li {
        position: relative;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $white;
        font-size: 0.9em;
        font-family: $font1;
        margin-right: 2em;
        img {
          width: 16px;
          height: 16px;
          margin-right: 1em;
        }
      }
      .pistolet {
        display: none;
      }
      li:hover > .pistolet {
        display: block;
        width: 18px;
        background-image: url(../img/pistolet.png);
        background-repeat: no-repeat;
        position: absolute;
        right: -21px;
        height: 18px;
        bottom: -19px;
        transition: ease 1s;
      }

      a {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          background-color: $red;
          height: 2px;
          width: 0;
          right: 0;
          bottom: -10px;
          transition: 0.3s;
        }
        &:hover:after {
          width: 100%;
        }
        &:hover {
          transition: 0.3s;
          color: rgb(37, 133, 48);
        }
      }
    }
  }

  .number{
      margin-right: 1em;
      font-family: $font1;
      span{
        font-size: 0.9em;
        .fa-phone{
            margin-right: 1em;
        }
      }
  }
}
