.lateam {
  position: relative;
  top: -20%;
  h1 {
    font-size: 1.2em;
    font-family: $font1;
    text-transform: uppercase;
    margin-top: 1em;
    text-align: center;
    img:first-child {
      margin-right: 0.5em;
    }
    img:last-child {
      margin-left: 0.5em;
    }
  }
  .container_team {
    display: flex;
    margin-top: 5em;
    .team {
      position: relative;
      width: 50%;
      background-image: url(../img/cadre.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 520px;
      p {
        left: 46%;
        position: absolute;
        bottom: 50px;
        transform: translate(-50%, -50%);
        width: 36%;
        font-size: 0.8em;
      }
    }
  }
}
