.apropos {
  height: 80vh;
  position: relative;
  h1 {
    font-size: 1.2em;
    font-family: $font1;
    text-transform: uppercase;
    margin-top: 3em;
    text-align: center;
    img:first-child {
      margin-right: 0.5em;
    }
    img:last-child {
      margin-left: 0.5em;
    }
  }
  .img_garage {
    position: absolute;
    bottom: -50px;
    background-image: url(../img/garage.jpg);
    background-attachment: fixed;
    height: 100%;
    opacity: 0.1;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .b {
    position: absolute;
    width: 100%;
    height: 46px;
    background: black;
    border-radius: 100px;
    -webkit-filter: blur(5px);
    filter: blur(10px);
    top: -17px;
  }
  .blur {
    position: absolute;
    width: 100%;
    height: 76px;
    background: black;
    border-radius: 100px;
    -webkit-filter: blur(5px);
    filter: blur(15px);
    bottom: -18px;
  }
}

.container_apropos {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50vh;
  justify-items: center;
  margin-top: 5em;
  .text_apropos {
    width: 80%;
    display: grid;
    align-self: start;
    border: solid 2px red;
    padding: 2.5em;
    font-size: 0.9em;
    text-align: justify;
  }
  .item1 {
    align-self: center;
  }
}
